@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Vibur";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/vibur-v23-latin-regular.woff2") format("woff2");
}

[x-cloak] {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.bg-gradient-header {
    background: linear-gradient(#561d95, #351065);
}
.bg-gradient-section {
    background: radial-gradient(#691a75 0%, #44044e 40%, #351065 100%);
}

.fa1 {
    padding-inline: 4.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    animation: pulsate1 25s ease-in-out infinite;
}

@keyframes pulsate1 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #df52c0, 0 0 10px #df52c0, 0 0 20px #d3268b,
            0 0 40px #d3268b, 0 0 80px #d3268b, 0 0 160px #d3268b;
    }
}

.fa2 {
    padding-inline: 4.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Tahoma', sans-serif;
    color: #fff;
    animation: pulsate2 25s ease-in-out infinite;
}

@keyframes pulsate2 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #46cdef, 0 0 10px #46cdef, 0 0 20px #1fb0ca,
            0 0 40px #1fb0ca, 0 0 80px #1fb0ca, 0 0 160px #1fb0ca;
    }
}

.fa3 {
    padding-inline: 4.5rem;
    margin-bottom: 3.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #fff;
    animation: pulsate3 25s ease-in-out infinite;
}

@keyframes pulsate3 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #ac4ce4, 0 0 10px #ac4ce4, 0 0 20px #941aa7,
            0 0 40px #941aa7, 0 0 80px #941aa7, 0 0 160px #941aa7;
    }
}

.fa4 {
    padding-inline: 4.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Verdana', sans-serif;
    color: #fff;
    animation: pulsate4 25s ease-in-out infinite;
}

@keyframes pulsate4 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #465fef, 0 0 10px #465fef, 0 0 20px #3819c2,
            0 0 40px #3819c2, 0 0 80px #3819c2, 0 0 160px #3819c2;
    }
}

.fa5 {
    padding-inline: 5.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Courier New', Courier, monospace;;
    color: #fff;
    animation: pulsate5 25s ease-in-out infinite;
}

@keyframes pulsate5 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #ec4d75, 0 0 10px #ec4d75, 0 0 20px #ce1c43,
            0 0 40px #ce1c43, 0 0 80px #ce1c43, 0 0 160px #ce1c43;
    }
}

.fa6 {
    padding-inline: 7.5rem;
    margin-bottom: 3.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    animation: pulsate6 25s ease-in-out infinite;
}

@keyframes pulsate6 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #46cdef, 0 0 10px #46cdef, 0 0 20px #1fb0ca,
            0 0 40px #1fb0ca, 0 0 80px #1fb0ca, 0 0 160px #1fb0ca;
    }
}

.fa7 {
    padding-inline: 4.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    animation: pulsate7 25s ease-in-out infinite;
}

@keyframes pulsate7 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #46efa0, 0 0 10px #46efa0, 0 0 20px #26d35a,
            0 0 40px #26d35a, 0 0 80px #26d35a, 0 0 160px #26d35a;
    }
}