@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Vibur";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/vibur-v23-latin-regular.woff2") format("woff2");
}

[x-cloak] {
    display: none;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.bg-gradient-header {
    background: linear-gradient(#561d95, #351065);
}
.bg-gradient-section {
    background: radial-gradient(#691a75 0%, #44044e 40%, #351065 100%);
}

.title {
    padding-inline: 2.5rem;
    font-family: "Vibur";
    color: #fff;
    animation: pulsate 25s ease-in-out infinite;
}

@keyframes pulsate {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #d946ef, 0 0 10px #d946ef, 0 0 20px #bc26d3,
            0 0 40px #bc26d3, 0 0 80px #bc26d3, 0 0 160px #bc26d3;
    }
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide:nth-child(1) {
    background-color: #49b293;
}

.slide:nth-child(2) {
    background-color: #b03532;
}

.slide:nth-child(3) {
    background-color: #6a478f;
    margin: 0;
}

.slide:nth-child(4) {
    background-color: #da6f2b;
}
