@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Vibur";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/vibur-v23-latin-regular.woff2") format("woff2");
}

[x-cloak] {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.bg-gradient-header {
    background: linear-gradient(#561d95, #351065);
}
.bg-gradient-section {
    background: radial-gradient(#691a75 0%, #44044e 40%, #351065 100%);
}

.title {
    padding-inline: 4.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    animation: pulsate 25s ease-in-out infinite;
}

@keyframes pulsate {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #f8d0fe;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #f14af7, 0 0 10px #f14af7, 0 0 20px #cd26d3,
            0 0 40px #cd26d3, 0 0 80px #cd26d3, 0 0 160px #cd26d3;
    }
}

.fa2 {
    padding-inline: 6.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    animation: pulsate2 25s ease-in-out infinite;
}

@keyframes pulsate2 {
    9%,
    10%,
    25%,
    30%,
    32%,
    40%,
    46% {
        color: #ffffff;
        text-shadow: none;
    }

    0%,
    9.1%,
    10.1%,
    20.1%,
    25.1%,
    30.1%,
    32.1%,
    40.1%,
    46.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 5px #46cdef, 0 0 10px #46cdef, 0 0 20px #1fb0ca,
            0 0 40px #1fb0ca, 0 0 80px #1fb0ca, 0 0 160px #1fb0ca;
    }
}









.cajapro{

    padding: 0px;

}




/* RESERVACIONES PRINCIPAL*


/* RESERVAS-USUARIO-FORMULARIO */

@media (min-width: 768px) {
    .titulo1 {
        padding-top: 3rem; /* Para mantener el texto alejado de la parte superior en pantallas más grandes */
    }
}



.titulo0{
    background: #ffffff;
    padding: 4px;
    border-radius: 4px;


}


/* Contiene todo el formulario de las reservas*/
.reserva-container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    font-family: Poppins, sans-serif; 
}


/* Contenedor del formulario*/

.formulario-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #ddd;

}


/* Separaciones entre los campos de categoria, fecha y hora */
.campo {
    margin-bottom: 15px;
}


/* Separacion del subtitulo con el resto del formulario*/

.subtitulo {
    margin-bottom: 10px;
}

/* Etiquetas de las secciones de Categoria, fecha y hora,esto se encarga de saltar de linea*/
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Diseño mas adecuado para las etiquetas*/

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Acomoda las etiquetas de la hora uno al costado del otro*/

.hora-container, .fecha-container {
    display: flex;
    gap: 10px;
}

/* Estilo al boton de "Reservar"*/

.boton {
    width: 50%;
    background: #B4198B;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}











/*RESERVACIONES- VISITANTE- CATEGORIAS */

body {
    font-family:  'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header .btn-primary {
    background-color: #041a0b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/*Controla el catalogo */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

/*Borde*/
.card {
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.card-title {
    color: #B4198B;
}

.imagen-responsive {
    
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}